@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  font-family: "Dosis", sans-serif;
  background-color: #EEEEEE;
}

a {
  background-color: transparent;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
